# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env
*.env
frontend/.env

# Temporary / Scratch
*.log
*.part
.DS_Store
Thumbs.db
t.txt

# Expo & Web builds
.expo/
frontend/.expo/
web-build/
frontend/web-build/
*.tsbuildinfo

# Data
data/
data/**/

# Deployment zip
staytup-deploy.zip
